@import './base.css';

.main-form{
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 2rem;
  background-color: white;
  padding: 30px;
}
.container-form{
 padding: 30px;
 margin-left: 40px;

}
p{
  max-width: 800px;
}
.main-form h2{
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.3rem;
}
.box h1{
  font-size: 3em;
  margin-bottom: 40px;
  margin-top: 40px;
}
.box h2{
  font-size: 2.5em;
}
.box h3{
  font-size: 2.8em;
  margin-bottom: 20px;
}
.large{
  font-size: 1.9em;
  margin-bottom: 40px;
}
.medium{
  font-size: 1.3em;
  margin-bottom: 20px;
}
.bold{
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 15px;
}
.apply{
  background-color: #5442B8;
  color: white;
  padding: 30px 40px;
  width: 220px;
  border: none;
  border-radius: 4px;
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 4rem;
}
.apply:hover{
  cursor: pointer;
  background-color: #4636a3;;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  font-size: 1em;
  margin-right: 10px;
  margin-top: 10px;
}
label{
  font-size: 1.3em;
}

select {
  margin-top: 10px;
padding: 10px;
font-size: 1.2em;
}


.container {
  background-color: #F8F2EC;
  border: 1px solid #736251;
  width: 80%;
  margin: 10px;
  padding: 40px;
}

.container h3 {
  text-decoration: underline;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1.3rem;
}

.app-btn {
  background-color: #EEECFD;
  border: solid #5442B8 1px;
  color: #5442B8;
  padding: 20px 40px;
  width: 220px;
  border-radius: 4px;
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 4rem;
}

.app-btn:hover {
  background-color: #dad8ea;
  cursor: pointer;
}
.input_form{
  display: grid;
  grid-template-areas: 'input_first input_second';
}

@media (min-width: 1024px) {
*{
  padding: 0;
}
  }

